<!--<li>
	{{name}}

	<button class="play-move" data-id="{{id}}" data-play-move="{{play}}">
		{{#if lower}}Cannot make that move!{{else}}Play{{/if}}
	</button>

	<button class="pass-move" data-id="{{this.id}}">Pass</button>
</li>